In [4]:
import pandas as pd

pd.options.display.float_format = '{:.5f}'.format #e 나오는거 싫어서 바꿈

df = pd.read_excel('../2020/20년도_4월_CO오염도.xlsx')
df = df.drop([0,2,3])
df = df.rename(columns=df.iloc[0])
df = df.iloc[:, 0:9]
df['월평균\n(ppm)'] = df['월평균\n(ppm)'].str.replace(pat=r'[*]', repl= r' ', regex=True)
df_seoul = df[df['시.도'] == '서울']
df_gg = df[df['시.도'] == '경기']
df_incheon = df[df['시.도'] == '인천']
df_daegu = df[df['시.도'] == '대구']

In [15]:
df_gg_south = df_gg[(df_gg['시군구'] == '수원') | (df_gg['시군구'] == '안양') | (df_gg['시군구'] == '성남') | (df_gg['시군구'] == '광명') |
                   (df_gg['시군구'] == '안산') | (df_gg['시군구'] == '평택') | (df_gg['시군구'] == '과천') | (df_gg['시군구'] == '의왕') |
                    (df_gg['시군구'] == '군포') | (df_gg['시군구'] == '시흥') | (df_gg['시군구'] == '부천') | (df_gg['시군구'] == '용인') | (df_gg['시군구'] == '김포') | 
                   (df_gg['시군구'] == '오산') | (df_gg['시군구'] == '하남') | (df_gg['시군구'] == '화성')]

print(df_gg_south)

df_gg_south_a = df_gg_south['월평균\n(ppm)'].astype(float)
df_gg_south_a
df_gg_south_mean = df_gg_south_a.mean()
df_gg_south_mean
data = [{'시.도' :'경기남부', '월평균\n(ppm)' : df_gg_south_mean}]
df_gg_south_b = pd.DataFrame(data)
df_gg_south_b

    시.도 시군구 측정소명 측정소\n코드 유효\n자료\n획득률\n(%) 유효\n측정\n일수\n(day)  \
125  경기  수원  인계동  131112            98.88                30
126  경기  수원  신풍동  131111            99.44                30
127  경기  수원  광교동  131113            99.02                30
128  경기  수원  영통동  131114            99.16                30
129  경기  수원  천천동  131115            99.16                30
..   ..  ..  ...     ...              ...               ...
197  경기  화성   향남  131552            99.44                30
198  경기  화성  동탄동  131553            94.72                27
199  경기  화성  우정읍  131554            99.44                30
200  경기  화성  청계동  131555            99.16                30
201  경기  화성  새솔동  131556            90.13                27

    유효\n측정\n횟수\n(8hour) 유효\n측정\n시간\n(hour) 월평균\n(ppm)
125                 714                712        0.5
126                 720                716        0.5
127                 714                713        0.5
128                 714                714        0.5
129                 714                714        0.5
..                  ...                ...        ...
197                 720                716        0.4
198                 675                682        0.4
199                 720                716        0.4
200                 713                714        0.4
201                 648                649        0.4

[63 rows x 9 columns]

    시.도  월평균\n(ppm)
0  경기남부     0.40317

In [13]:
df_gg_north = df_gg[(df_gg['시군구'] == '의정부') | (df_gg['시군구'] == '고양') | (df_gg['시군구'] == '양주') | (df_gg['시군구'] == '동두천') |
                   (df_gg['시군구'] == '파주') | (df_gg['시군구'] == '포천') | (df_gg['시군구'] == '연천')]
print(df_gg_north)

df_gg_north_a = df_gg_north['월평균\n(ppm)'].astype(float)
df_gg_north_a
df_gg_north_mean = df_gg_north_a.mean()
df_gg_north_mean
data = [{'시.도' :'경기북부', '월평균\n(ppm)' : df_gg_north_mean}]
df_gg_north_b = pd.DataFrame(data)
df_gg_north_b

    시.도  시군구   측정소명 측정소\n코드 유효\n자료\n획득률\n(%) 유효\n측정\n일수\n(day)  \
142  경기  의정부   의정부동  131131            99.30                30
143  경기  의정부  의정부1동  131132            99.30                30
163  경기   고양    행신동  131381            99.30                30
164  경기   고양    식사동  131382            98.88                30
165  경기   고양    신원동  131384            99.58                30
166  경기   고양    주엽동  131385            99.44                30
202  경기   양주    백석읍  131561            99.30                30
203  경기   양주     고읍  131562            99.16                30
204  경기  동두천    보산동  131571            99.44                30
211  경기   파주    금촌동  131371            98.75                30
212  경기   파주     운정  131372            98.75                30
213  경기   파주    파주읍  131374            97.63                29
214  경기   포천    선단동  131453            98.88                30
215  경기   포천    일동면  131454            99.02                30
218  경기   연천     연천  131601            99.44                30

    유효\n측정\n횟수\n(8hour) 유효\n측정\n시간\n(hour) 월평균\n(ppm)
142                 720                715        0.5
143                 720                715        0.4
163                 720                715        0.5
164                 713                712        0.3
165                 720                717        0.3
166                 720                716        0.4
202                 720                715        0.4
203                 714                714        0.4
204                 720                716        0.4
211                 714                711        0.5
212                 714                711        0.4
213                 701                703        0.3
214                 714                712        0.4
215                 720                713        0.4
218                 720                716        0.3

    시.도  월평균\n(ppm)
0  경기북부     0.39333

In [17]:
df_gg_east = df_gg[(df_gg['시군구'] == '구리') | (df_gg['시군구'] == '광주') | (df_gg['시군구'] == '남양주') | (df_gg['시군구'] == '안성') |
                   (df_gg['시군구'] == '이천') | (df_gg['시군구'] == '여주') | (df_gg['시군구'] == '가평') | (df_gg['시군구'] == '양평')]
print(df_gg_east)
df_gg_east_a = df_gg_east['월평균\n(ppm)'].astype(float)
df_gg_east_a
df_gg_east_mean = df_gg_east_a.mean()
df_gg_east_mean
data = [{'시.도' :'경기동부', '월평균\n(ppm)' : df_gg_east_mean}]
df_gg_east_b = pd.DataFrame(data)
df_gg_east_b

    시.도  시군구  측정소명 측정소\n코드 유효\n자료\n획득률\n(%) 유효\n측정\n일수\n(day)  \
159  경기   구리   교문동  131211            95.00                28
160  경기   구리   동구동  131212            99.72                30
167  경기   광주   경안동  131392            98.75                30
168  경기   광주   오포읍  131394            99.02                30
180  경기  남양주   금곡동  131241            98.61                30
181  경기  남양주   오남읍  131242            98.88                30
182  경기  남양주   별내동  131243            99.02                30
183  경기  남양주   화도읍  131244            99.02                30
205  경기   안성   봉산동  131581            99.44                30
206  경기   안성   공도읍  131583            99.30                30
207  경기   안성   죽산면  131584            95.41                28
208  경기   이천   창전동  131442           100.00                30
209  경기   이천  장호원읍  131443            99.58                30
210  경기   이천   부발읍  131444            98.75                30
216  경기   여주   중앙동  131591            95.97                28
217  경기   여주   대신면  131592            98.47                30
219  경기   가평   가평읍  131611            89.30                26
220  경기   양평   용문면  131621            99.02                30

    유효\n측정\n횟수\n(8hour) 유효\n측정\n시간\n(hour) 월평균\n(ppm)
159                 690                684        0.4
160                 720                718        0.4
167                 708                711        0.3
168                 720                713        0.3
180                 714                710        0.3
181                 714                712        0.3
182                 714                713        0.4
183                 720                713        0.4
205                 720                716        0.4
206                 720                715        0.3
207                 683                687        0.2
208                 720                720        0.4
209                 720                717        0.4
210                 711                711        0.4
216                 690                691        0.4
217                 704                709        0.4
219                 643                643        0.4
220                 714                713        0.4

    시.도  월평균\n(ppm)
0  경기동부     0.36111

In [18]:
df_incheon_a = df_incheon['월평균\n(ppm)'].astype(float)
df_incheon_a
df_incheon_mean = df_incheon_a.mean()
df_incheon_mean
data = [{'시.도' :'인천', '월평균\n(ppm)' : df_incheon_mean}]
df_incheon_b = pd.DataFrame(data)
df_incheon_b

  시.도  월평균\n(ppm)
0  인천     0.45000

In [19]:
df_daegu_a = df_daegu['월평균\n(ppm)'].astype(float)
df_daegu_a
df_daegu_mean = df_daegu_a.mean()
df_daegu_mean
data = [{'시.도' :'대구', '월평균\n(ppm)' : df_daegu_mean}]
df_daegu_b = pd.DataFrame(data)
df_daegu_b

  시.도  월평균\n(ppm)
0  대구     0.38000

In [20]:
df_seoul
df_crop = pd.concat([df_seoul, df_gg_south_b, df_gg_north_b, df_gg_east_b, df_incheon_b, df_daegu_b], ignore_index = True)
df_crop_2 = df_crop.iloc[:, [0,1,-1]]
df_crop_2

     시.도   시군구 월평균\n(ppm)
0     서울    중구        0.4
1     서울   종로구        0.4
2     서울   중랑구        0.4
3     서울  동대문구        0.4
4     서울   은평구        0.3
5     서울   마포구        0.4
6     서울  영등포구        0.4
7     서울   동작구        0.4
8     서울   관악구        0.4
9     서울   강남구        0.4
10    서울   금천구        0.4
11    서울   강동구        0.4
12    서울   강북구        0.4
13    서울   성북구        0.4
14    서울   용산구        0.4
15    서울   광진구        0.5
16    서울   성동구        0.4
17    서울   도봉구        0.4
18    서울  서대문구        0.5
19    서울   구로구        0.3
20    서울   서초구        0.3
21    서울   강서구        0.4
22    서울   송파구        0.4
23    서울   양천구        0.4
24    서울   노원구        0.4
25  경기남부   NaN    0.40317
26  경기북부   NaN    0.39333
27  경기동부   NaN    0.36111
28    인천   NaN    0.45000
29    대구   NaN    0.38000

In [21]:
df_crop_2.to_csv("20년도_4월_CO오염도_최종.csv")