In [1]:
import pandas as pd

pd.options.display.float_format = '{:.5f}'.format #e 나오는거 싫어서 바꿈

df = pd.read_excel('../2020/20년도_6월_CO오염도.xlsx')
df = df.drop([0,2,3])
df = df.rename(columns=df.iloc[0])
df = df.iloc[:, 0:9]
df['월평균\n(ppm)'] = df['월평균\n(ppm)'].str.replace(pat=r'[*]', repl= r' ', regex=True)
df_seoul = df[df['시.도'] == '서울']
df_gg = df[df['시.도'] == '경기']
df_incheon = df[df['시.도'] == '인천']
df_daegu = df[df['시.도'] == '대구']

In [21]:
df_gg_south = df_gg[(df_gg['시군구'] == '수원시') | (df_gg['시군구'] == '안양시') | (df_gg['시군구'] == '성남시') | (df_gg['시군구'] == '광명시') |
                   (df_gg['시군구'] == '안산시') | (df_gg['시군구'] == '평택시') | (df_gg['시군구'] == '과천시') | (df_gg['시군구'] == '의왕시') |
                    (df_gg['시군구'] == '군포시') | (df_gg['시군구'] == '시흥시') | (df_gg['시군구'] == '부천시') | (df_gg['시군구'] == '용인시') | (df_gg['시군구'] == '김포시') | 
                   (df_gg['시군구'] == '오산시') | (df_gg['시군구'] == '하남시') | (df_gg['시군구'] == '화성시')]

print(df_gg_south)
df_gg_south_a = df_gg_south['월평균\n(ppm)'].astype(float)
df_gg_south_a
df_gg_south_mean = df_gg_south_a.mean()
df_gg_south_mean
data = [{'시.도' :'경기남부', '월평균\n(ppm)' : df_gg_south_mean}]
df_gg_south_b = pd.DataFrame(data)
df_gg_south_b

    시.도  시군구 측정소명 측정소\n코드 유효\n자료\n획득률\n(%) 유효\n측정\n일수\n(day)  \
125  경기  수원시  인계동  131112            99.30                30
126  경기  수원시  신풍동  131111            98.88                30
127  경기  수원시  광교동  131113            98.19                30
128  경기  수원시  영통동  131114            99.02                30
129  경기  수원시  천천동  131115            99.16                30
..   ..  ...  ...     ...              ...               ...
197  경기  화성시   향남  131552            99.44                30
198  경기  화성시  동탄동  131553            99.30                30
199  경기  화성시  우정읍  131554            99.58                30
200  경기  화성시  청계동  131555            99.44                30
201  경기  화성시  새솔동  131556           100.00                30

    유효\n측정\n횟수\n(8hour) 유효\n측정\n시간\n(hour) 월평균\n(ppm)
125                 720                715        0.6
126                 720                712        0.6
127                 706                707        0.5
128                 714                713        0.6
129                 720                714        0.4
..                  ...                ...        ...
197                 720                716        0.4
198                 720                715        0.5
199                 720                717        0.5
200                 720                716        0.5
201                 720                720        0.6

[63 rows x 9 columns]

    시.도  월평균\n(ppm)
0  경기남부     0.45079

In [22]:
df_gg_north = df_gg[(df_gg['시군구'] == '의정부시') | (df_gg['시군구'] == '고양시') | (df_gg['시군구'] == '양주시') | (df_gg['시군구'] == '동두천시') |
                   (df_gg['시군구'] == '파주시') | (df_gg['시군구'] == '포천시') | (df_gg['시군구'] == '연천군')]
print(df_gg_north)

df_gg_north_a = df_gg_north['월평균\n(ppm)'].astype(float)
df_gg_north_a
df_gg_north_mean = df_gg_north_a.mean()
df_gg_north_mean
data = [{'시.도' :'경기북부', '월평균\n(ppm)' : df_gg_north_mean}]
df_gg_north_b = pd.DataFrame(data)
df_gg_north_b

    시.도   시군구   측정소명 측정소\n코드 유효\n자료\n획득률\n(%) 유효\n측정\n일수\n(day)  \
142  경기  의정부시   의정부동  131131            99.30                30
143  경기  의정부시  의정부1동  131132            99.58                30
163  경기   고양시    행신동  131381            99.72                30
164  경기   고양시    식사동  131382            95.55                28
165  경기   고양시    신원동  131384            99.30                30
166  경기   고양시    주엽동  131385            98.75                30
202  경기   양주시    백석읍  131561            99.44                30
203  경기   양주시     고읍  131562            99.58                30
204  경기  동두천시    보산동  131571            99.44                30
211  경기   파주시    금촌동  131371            99.02                30
212  경기   파주시     운정  131372            92.36                27
213  경기   파주시    파주읍  131374            98.88                30
214  경기   포천시    선단동  131453            98.47                30
215  경기   포천시    일동면  131454            98.75                30
218  경기   연천군     연천  131601            99.16                30

    유효\n측정\n횟수\n(8hour) 유효\n측정\n시간\n(hour) 월평균\n(ppm)
142                 720                715        0.5
143                 720                717        0.5
163                 720                718        0.5
164                 688                688        0.4
165                 720                715        0.3
166                 711                711        0.4
202                 720                716        0.4
203                 720                717        0.3
204                 720                716        0.4
211                 720                713        0.5
212                 667                665        0.5
213                 720                712        0.4
214                 714                709        0.4
215                 714                711        0.3
218                 714                714        0.4

    시.도  월평균\n(ppm)
0  경기북부     0.41333

In [23]:
df_gg_east = df_gg[(df_gg['시군구'] == '구리시') | (df_gg['시군구'] == '광주시') | (df_gg['시군구'] == '남양주시') | (df_gg['시군구'] == '안성시') |
                   (df_gg['시군구'] == '이천시') | (df_gg['시군구'] == '여주시') | (df_gg['시군구'] == '가평군') | (df_gg['시군구'] == '양평군')]
print(df_gg_east)
df_gg_east_a = df_gg_east['월평균\n(ppm)'].astype(float)
df_gg_east_a
df_gg_east_mean = df_gg_east_a.mean()
df_gg_east_mean
data = [{'시.도' :'경기동부', '월평균\n(ppm)' : df_gg_east_mean}]
df_gg_east_b = pd.DataFrame(data)
df_gg_east_b

    시.도   시군구  측정소명 측정소\n코드 유효\n자료\n획득률\n(%) 유효\n측정\n일수\n(day)  \
159  경기   구리시   교문동  131211            92.50                27
160  경기   구리시   동구동  131212            94.30                27
167  경기   광주시   경안동  131392            99.16                30
168  경기   광주시   오포읍  131394            99.02                30
180  경기  남양주시   금곡동  131241            99.44                30
181  경기  남양주시   오남읍  131242            95.13                28
182  경기  남양주시   별내동  131243            95.97                28
183  경기  남양주시   화도읍  131244            95.97                28
205  경기   안성시   봉산동  131581            91.80                26
206  경기   안성시   공도읍  131583            95.97                28
207  경기   안성시   죽산면  131584            99.16                30
208  경기   이천시   창전동  131442            99.86                30
209  경기   이천시  장호원읍  131443            99.58                30
210  경기   이천시   부발읍  131444            99.58                30
216  경기   여주시   중앙동  131591            98.88                30
217  경기   여주시   대신면  131592            99.16                30
219  경기   가평군   가평읍  131611            99.44                30
220  경기   가평군   설악면  131612            99.02                30
221  경기   양평군   용문면  131621            97.08                30
222  경기   양평군   양평읍  131622            98.61                30

    유효\n측정\n횟수\n(8hour) 유효\n측정\n시간\n(hour) 월평균\n(ppm)
159                 664                666        0.4
160                 677                679        0.4
167                 720                714        0.5
168                 720                713        0.3
180                 720                716        0.3
181                 684                685        0.4
182                 692                691        0.4
183                 691                691        0.3
205                 661                661        0.5
206                 693                691        0.3
207                 720                714        0.4
208                 720                719        0.4
209                 720                717        0.3
210                 720                717        0.4
216                 708                712        0.4
217                 720                714        0.4
219                 720                716        0.4
220                 720                713        0.5
221                 692                699        0.4
222                 711                710        0.3

    시.도  월평균\n(ppm)
0  경기동부     0.38500

In [24]:
df_incheon_a = df_incheon['월평균\n(ppm)'].astype(float)
df_incheon_a
df_incheon_mean = df_incheon_a.mean()
df_incheon_mean
data = [{'시.도' :'인천', '월평균\n(ppm)' : df_incheon_mean}]
df_incheon_b = pd.DataFrame(data)
df_incheon_b

  시.도  월평균\n(ppm)
0  인천     0.43500

In [25]:
df_daegu_a = df_daegu['월평균\n(ppm)'].astype(float)
df_daegu_a
df_daegu_mean = df_daegu_a.mean()
df_daegu_mean
data = [{'시.도' :'대구', '월평균\n(ppm)' : df_daegu_mean}]
df_daegu_b = pd.DataFrame(data)
df_daegu_b

  시.도  월평균\n(ppm)
0  대구     0.36667

In [26]:
df_seoul
df_crop = pd.concat([df_seoul, df_gg_south_b, df_gg_north_b, df_gg_east_b, df_incheon_b, df_daegu_b], ignore_index = True)
df_crop_2 = df_crop.iloc[:, [0,1,-1]]
df_crop_2

     시.도   시군구 월평균\n(ppm)
0     서울    중구        0.4
1     서울   종로구        0.5
2     서울   중랑구        0.4
3     서울  동대문구        0.4
4     서울   은평구        0.3
5     서울   마포구        0.4
6     서울  영등포구        0.4
7     서울   동작구        0.4
8     서울   관악구        0.5
9     서울   강남구        0.4
10    서울   금천구        0.4
11    서울   강동구        0.4
12    서울   강북구        0.4
13    서울   성북구        0.5
14    서울   용산구        0.4
15    서울   광진구        0.5
16    서울   성동구        0.4
17    서울   도봉구        0.3
18    서울  서대문구        0.5
19    서울   구로구        0.2
20    서울   서초구        0.3
21    서울   강서구        0.4
22    서울   송파구        0.4
23    서울   양천구        0.4
24    서울   노원구        0.4
25  경기남부   NaN    0.45079
26  경기북부   NaN    0.41333
27  경기동부   NaN    0.38500
28    인천   NaN    0.43500
29    대구   NaN    0.36667

In [27]:
df_crop_2.to_csv("20년도_6월_CO오염도_최종.csv")