In [4]:
import pandas as pd

pd.options.display.float_format = '{:.5f}'.format #e 나오는거 싫어서 바꿈

df = pd.read_excel('../2020/20년도_7월_CO오염도.xlsx')
df = df.drop([0,2,3])
df = df.rename(columns=df.iloc[0])
df = df.iloc[:, 0:9]
df['월평균\n(ppm)'] = df['월평균\n(ppm)'].str.replace(pat=r'[*]', repl= r' ', regex=True)
df_seoul = df[df['시.도'] == '서울']
df_gg = df[df['시.도'] == '경기']
df_incheon = df[df['시.도'] == '인천']
df_daegu = df[df['시.도'] == '대구']

In [5]:
df_gg_south = df_gg[(df_gg['시군구'] == '수원') | (df_gg['시군구'] == '안양') | (df_gg['시군구'] == '성남') | (df_gg['시군구'] == '광명') |
                   (df_gg['시군구'] == '안산') | (df_gg['시군구'] == '평택') | (df_gg['시군구'] == '과천') | (df_gg['시군구'] == '의왕') |
                    (df_gg['시군구'] == '군포') | (df_gg['시군구'] == '시흥') | (df_gg['시군구'] == '부천') | (df_gg['시군구'] == '용인') | (df_gg['시군구'] == '김포') | 
                   (df_gg['시군구'] == '오산') | (df_gg['시군구'] == '하남') | (df_gg['시군구'] == '화성')]

print(df_gg_south)
df_gg_south_a = df_gg_south['월평균\n(ppm)'].astype(float)
df_gg_south_a
df_gg_south_mean = df_gg_south_a.mean()
df_gg_south_mean
data = [{'시.도' :'경기남부', '월평균\n(ppm)' : df_gg_south_mean}]
df_gg_south_b = pd.DataFrame(data)
df_gg_south_b

    시.도 시군구 측정소명 측정소\n코드 유효\n자료\n획득률\n(%) 유효\n측정\n일수\n(day)  \
125  경기  수원  인계동  131112            96.10                29
126  경기  수원  신풍동  131111            99.19                31
127  경기  수원  광교동  131113            94.89                29
128  경기  수원  영통동  131114            99.46                31
129  경기  수원  천천동  131115            99.46                31
..   ..  ..  ...     ...              ...               ...
199  경기  화성  우정읍  131554            95.96                29
200  경기  화성  청계동  131555            99.32                31
201  경기  화성  새솔동  131556            99.86                31
202  경기  화성  봉담읍  131557            97.98                30
203  경기  화성  서신면  131558            97.44                30

    유효\n측정\n횟수\n(8hour) 유효\n측정\n시간\n(hour) 월평균\n(ppm)
125                 716                715        0.6
126                 744                738        0.5
127                 705                706        0.4
128                 744                740        0.5
129                 744                740        0.3
..                  ...                ...        ...
199                 716                714        0.4
200                 744                739        0.4
201                 744                743        0.5
202                 726                729        0.4
203                 722                725        0.4

[65 rows x 9 columns]

    시.도  월평균\n(ppm)
0  경기남부     0.40615

In [6]:
df_gg_north = df_gg[(df_gg['시군구'] == '의정부') | (df_gg['시군구'] == '고양') | (df_gg['시군구'] == '양주') | (df_gg['시군구'] == '동두천') |
                   (df_gg['시군구'] == '파주') | (df_gg['시군구'] == '포천') | (df_gg['시군구'] == '연천')]
print(df_gg_north)

df_gg_north_a = df_gg_north['월평균\n(ppm)'].astype(float)
df_gg_north_a
df_gg_north_mean = df_gg_north_a.mean()
df_gg_north_mean
data = [{'시.도' :'경기북부', '월평균\n(ppm)' : df_gg_north_mean}]
df_gg_north_b = pd.DataFrame(data)
df_gg_north_b

    시.도  시군구   측정소명 측정소\n코드 유효\n자료\n획득률\n(%) 유효\n측정\n일수\n(day)  \
142  경기  의정부   의정부동  131131            99.46                31
143  경기  의정부  의정부1동  131132            98.65                30
163  경기   고양    행신동  131381            94.89                28
164  경기   고양    식사동  131382            98.79                31
165  경기   고양    신원동  131384            99.46                31
166  경기   고양    주엽동  131385            99.32                31
204  경기   양주    백석읍  131561            99.46                31
205  경기   양주     고읍  131562            99.59                31
206  경기  동두천    보산동  131571            97.71                30
213  경기   파주    금촌동  131371            99.05                31
214  경기   파주     운정  131372            98.79                31
215  경기   파주    파주읍  131374            98.79                31
216  경기   포천    선단동  131453            99.05                31
217  경기   포천    일동면  131454            98.92                31
220  경기   연천     연천  131601            96.37                30

    유효\n측정\n횟수\n(8hour) 유효\n측정\n시간\n(hour) 월평균\n(ppm)
142                 744                740        0.5
143                 733                734        0.4
163                 702                706        0.4
164                 735                735        0.4
165                 744                740        0.3
166                 744                739        0.4
204                 744                740        0.4
205                 744                741        0.3
206                 721                727        0.3
213                 744                737        0.5
214                 738                735        0.5
215                 738                735        0.4
216                 744                737        0.3
217                 744                736        0.3
220                 714                717        0.4

    시.도  월평균\n(ppm)
0  경기북부     0.38667

In [7]:
df_gg_east = df_gg[(df_gg['시군구'] == '구리') | (df_gg['시군구'] == '광주') | (df_gg['시군구'] == '남양주') | (df_gg['시군구'] == '안성') |
                   (df_gg['시군구'] == '이천') | (df_gg['시군구'] == '여주') | (df_gg['시군구'] == '가평') | (df_gg['시군구'] == '양평')]
print(df_gg_east)
df_gg_east_a = df_gg_east['월평균\n(ppm)'].astype(float)
df_gg_east_a
df_gg_east_mean = df_gg_east_a.mean()
df_gg_east_mean
data = [{'시.도' :'경기동부', '월평균\n(ppm)' : df_gg_east_mean}]
df_gg_east_b = pd.DataFrame(data)
df_gg_east_b

    시.도  시군구  측정소명 측정소\n코드 유효\n자료\n획득률\n(%) 유효\n측정\n일수\n(day)  \
159  경기   구리   교문동  131211            98.65                30
160  경기   구리   동구동  131212            95.43                29
167  경기   광주   경안동  131392            99.46                31
168  경기   광주   오포읍  131394            99.19                31
180  경기  남양주   금곡동  131241            92.47                27
181  경기  남양주   오남읍  131242            95.69                29
182  경기  남양주   별내동  131243            95.29                29
183  경기  남양주   화도읍  131244            95.69                29
207  경기   안성   봉산동  131581            99.46                31
208  경기   안성   공도읍  131583            99.46                31
209  경기   안성   죽산면  131584            95.96                29
210  경기   이천   창전동  131442            97.98                31
211  경기   이천  장호원읍  131443            98.92                31
212  경기   이천   부발읍  131444            98.65                30
218  경기   여주   중앙동  131591            98.25                30
219  경기   여주   대신면  131592            99.73                31
221  경기   가평   가평읍  131611            96.23                30
222  경기   가평   설악면  131612            98.79                31
223  경기   양평   용문면  131621            98.25                31
224  경기   양평   양평읍  131622            99.32                31

    유효\n측정\n횟수\n(8hour) 유효\n측정\n시간\n(hour) 월평균\n(ppm)
159                 733                734        0.4
160                 708                710        0.4
167                 744                740        0.4
168                 744                738        0.3
180                 684                688        0.4
181                 714                712        0.4
182                 712                709        0.3
183                 714                712        0.3
207                 744                740        0.5
208                 744                740        0.3
209                 717                714        0.4
210                 721                729        0.4
211                 736                736        0.3
212                 734                734        0.4
218                 726                731        0.4
219                 744                742        0.3
221                 720                716        0.4
222                 744                735        0.3
223                 737                731        0.3
224                 744                739        0.4

    시.도  월평균\n(ppm)
0  경기동부     0.36500

In [8]:
df_incheon_a = df_incheon['월평균\n(ppm)'].astype(float)
df_incheon_a
df_incheon_mean = df_incheon_a.mean()
df_incheon_mean
data = [{'시.도' :'인천', '월평균\n(ppm)' : df_incheon_mean}]
df_incheon_b = pd.DataFrame(data)
df_incheon_b

  시.도  월평균\n(ppm)
0  인천     0.42105

In [9]:
df_daegu_a = df_daegu['월평균\n(ppm)'].astype(float)
df_daegu_a
df_daegu_mean = df_daegu_a.mean()
df_daegu_mean
data = [{'시.도' :'대구', '월평균\n(ppm)' : df_daegu_mean}]
df_daegu_b = pd.DataFrame(data)
df_daegu_b

  시.도  월평균\n(ppm)
0  대구     0.37333

In [10]:
df_seoul
df_crop = pd.concat([df_seoul, df_gg_south_b, df_gg_north_b, df_gg_east_b, df_incheon_b, df_daegu_b], ignore_index = True)
df_crop_2 = df_crop.iloc[:, [0,1,-1]]
df_crop_2

     시.도   시군구 월평균\n(ppm)
0     서울    중구        0.4
1     서울   종로구        0.4
2     서울   중랑구        0.4
3     서울  동대문구        0.4
4     서울   은평구        0.4
5     서울   마포구        0.4
6     서울  영등포구        0.4
7     서울   동작구        0.4
8     서울   관악구        0.4
9     서울   강남구        0.4
10    서울   금천구        0.4
11    서울   강동구        0.4
12    서울   강북구        0.4
13    서울   성북구        0.5
14    서울   용산구        0.4
15    서울   광진구        0.5
16    서울   성동구        0.3
17    서울   도봉구        0.3
18    서울  서대문구        0.4
19    서울   구로구        0.2
20    서울   서초구        0.2
21    서울   강서구        0.4
22    서울   송파구        0.4
23    서울   양천구        0.4
24    서울   노원구        0.4
25  경기남부   NaN    0.40615
26  경기북부   NaN    0.38667
27  경기동부   NaN    0.36500
28    인천   NaN    0.42105
29    대구   NaN    0.37333

In [11]:
df_crop_2.to_csv("20년도_7월_CO오염도_최종.csv")