In [6]:
import pandas as pd

pd.options.display.float_format = '{:.5f}'.format #e 나오는거 싫어서 바꿈

df = pd.read_excel('../2020/20년도_3월_CO오염도.xlsx')
df = df.drop([0,2,3])
df = df.rename(columns=df.iloc[0])
df = df.iloc[:, 0:9]
df = df.drop([1, 435, 436])
df['월평균\n(ppm)'] = df['월평균\n(ppm)'].str.replace(pat=r'[*]', repl= r' ', regex=True)
df_seoul = df[df['시.도'] == '서울']
df_gg = df[df['시.도'] == '경기']
df_incheon = df[df['시.도'] == '인천']
df_daegu = df[df['시.도'] == '대구']

In [14]:
df_gg_south = df_gg[(df_gg['시군구'] == '수원') | (df_gg['시군구'] == '안양') | (df_gg['시군구'] == '성남') | (df_gg['시군구'] == '광명') |
                   (df_gg['시군구'] == '안산') | (df_gg['시군구'] == '평택') | (df_gg['시군구'] == '과천') | (df_gg['시군구'] == '의왕') |
                    (df_gg['시군구'] == '군포') | (df_gg['시군구'] == '시흥') | (df_gg['시군구'] == '부천') | (df_gg['시군구'] == '용인') | (df_gg['시군구'] == '김포') | 
                   (df_gg['시군구'] == '오산') | (df_gg['시군구'] == '하남') | (df_gg['시군구'] == '화성')]

print(df_gg_south)

df_gg_south_a = df_gg_south['월평균\n(ppm)'].astype(float)
df_gg_south_a
df_gg_south_mean = df_gg_south_a.mean()
df_gg_south_mean
data = [{'시.도' :'경기남부', '월평균\n(ppm)' : df_gg_south_mean}]
df_gg_south_b = pd.DataFrame(data)
df_gg_south_b

    시.도 시군구 측정소명 측정소\n코드 유효\n자료\n획득률\n(%) 유효\n측정\n일수\n(day)  \
125  경기  수원  인계동  131112            99.05                31
126  경기  수원  신풍동  131111            99.05                31
127  경기  수원  광교동  131113            99.05                31
128  경기  수원  영통동  131114            99.32                31
129  경기  수원  천천동  131115            99.46                31
..   ..  ..  ...     ...              ...               ...
195  경기  화성  남양읍  131551            99.59                31
196  경기  화성   향남  131552            99.59                31
197  경기  화성  동탄동  131553            72.17                22
198  경기  화성  우정읍  131554            99.59                31
199  경기  화성  청계동  131555            99.59                31

    유효\n측정\n횟수\n(8hour) 유효\n측정\n시간\n(hour) 월평균\n(ppm)
125                 744                737        0.6
126                 744                737        0.6
127                 744                737        0.5
128                 744                739        0.6
129                 744                740        0.5
..                  ...                ...        ...
195                 744                741        0.4
196                 744                741        0.5
197                 535                537       0.3
198                 744                741        0.5
199                 744                741        0.4

[61 rows x 9 columns]

    시.도  월평균\n(ppm)
0  경기남부     0.46066

In [8]:
df_gg_north = df_gg[(df_gg['시군구'] == '의정부') | (df_gg['시군구'] == '고양') | (df_gg['시군구'] == '양주') | (df_gg['시군구'] == '동두천') |
                   (df_gg['시군구'] == '파주') | (df_gg['시군구'] == '포천') | (df_gg['시군구'] == '연천')]
df_gg_north

df_gg_north_a = df_gg_north['월평균\n(ppm)'].astype(float)
df_gg_north_a
df_gg_north_mean = df_gg_north_a.mean()
df_gg_north_mean
data = [{'시.도' :'경기북부', '월평균\n(ppm)' : df_gg_north_mean}]
df_gg_north_b = pd.DataFrame(data)
df_gg_north_b

    시.도  월평균\n(ppm)
0  경기북부     0.46000

In [15]:
df_gg_east = df_gg[(df_gg['시군구'] == '구리') | (df_gg['시군구'] == '광주') | (df_gg['시군구'] == '남양주') | (df_gg['시군구'] == '안성') |
                   (df_gg['시군구'] == '이천') | (df_gg['시군구'] == '여주') | (df_gg['시군구'] == '가평') | (df_gg['시군구'] == '양평')]
df_gg_east
df_gg_east_a = df_gg_east['월평균\n(ppm)'].astype(float)
df_gg_east_a
df_gg_east_mean = df_gg_east_a.mean()
df_gg_east_mean
data = [{'시.도' :'경기동부', '월평균\n(ppm)' : df_gg_east_mean}]
df_gg_east_b = pd.DataFrame(data)
df_gg_east_b

    시.도  월평균\n(ppm)
0  경기동부     0.42353

In [10]:
df_incheon_a = df_incheon['월평균\n(ppm)'].astype(float)
df_incheon_a
df_incheon_mean = df_incheon_a.mean()
df_incheon_mean
data = [{'시.도' :'인천', '월평균\n(ppm)' : df_incheon_mean}]
df_incheon_b = pd.DataFrame(data)
df_incheon_b

  시.도  월평균\n(ppm)
0  인천     0.55000

In [11]:
df_daegu_a = df_daegu['월평균\n(ppm)'].astype(float)
df_daegu_a
df_daegu_mean = df_daegu_a.mean()
df_daegu_mean
data = [{'시.도' :'대구', '월평균\n(ppm)' : df_daegu_mean}]
df_daegu_b = pd.DataFrame(data)
df_daegu_b

  시.도  월평균\n(ppm)
0  대구     0.42667

In [16]:
df_seoul
df_crop = pd.concat([df_seoul, df_gg_south_b, df_gg_north_b, df_gg_east_b, df_incheon_b, df_daegu_b], ignore_index = True)
df_crop_2 = df_crop.iloc[:, [0,1,-1]]
df_crop_2

     시.도   시군구 월평균\n(ppm)
0     서울    중구        0.5
1     서울   종로구        0.5
2     서울   중랑구        0.5
3     서울  동대문구        0.5
4     서울   은평구        0.4
5     서울   마포구        0.4
6     서울  영등포구        0.5
7     서울   동작구        0.4
8     서울   관악구        0.5
9     서울   강남구        0.5
10    서울   금천구        0.5
11    서울   강동구        0.5
12    서울   강북구        0.5
13    서울   성북구        0.6
14    서울   용산구        0.5
15    서울   광진구        0.5
16    서울   성동구        0.5
17    서울   도봉구        0.5
18    서울  서대문구        0.7
19    서울   구로구        0.4
20    서울   서초구        0.3
21    서울   강서구        0.5
22    서울   송파구        0.6
23    서울   양천구        0.5
24    서울   노원구        0.5
25  경기남부   NaN    0.46066
26  경기북부   NaN    0.46000
27  경기동부   NaN    0.42353
28    인천   NaN    0.55000
29    대구   NaN    0.42667

In [17]:
df_crop_2.to_csv("20년도_3월_CO오염도_최종.csv")