In [14]:
import pandas as pd

pd.options.display.float_format = '{:.5f}'.format #e 나오는거 싫어서 바꿈

df = pd.read_excel('../2020/20년도_5월_CO오염도.xlsx')
df = df.drop([0,2,3])
df = df.rename(columns=df.iloc[0])
df = df.iloc[:, 0:9]
df['월평균\n(ppm)'] = df['월평균\n(ppm)'].str.replace(pat=r'[*]', repl= r' ', regex=True)
df_seoul = df[df['시.도'] == '서울']
df_gg = df[df['시.도'] == '경기']
df_incheon = df[df['시.도'] == '인천']
df_daegu = df[df['시.도'] == '대구']

In [22]:
df_gg_south = df_gg[(df_gg['시군구'] == '수원시') | (df_gg['시군구'] == '안양시') | (df_gg['시군구'] == '성남시') | (df_gg['시군구'] == '광명시') |
                   (df_gg['시군구'] == '안산시') | (df_gg['시군구'] == '평택시') | (df_gg['시군구'] == '과천시') | (df_gg['시군구'] == '의왕시') |
                    (df_gg['시군구'] == '군포시') | (df_gg['시군구'] == '시흥시') | (df_gg['시군구'] == '부천시') | (df_gg['시군구'] == '용인시') | (df_gg['시군구'] == '김포시') | 
                   (df_gg['시군구'] == '오산시') | (df_gg['시군구'] == '하남시') | (df_gg['시군구'] == '화성시')]

print(df_gg_south)

df_gg_south_a = df_gg_south['월평균\n(ppm)'].astype(float)
df_gg_south_a
df_gg_south_mean = df_gg_south_a.mean()
df_gg_south_mean
data = [{'시.도' :'경기남부', '월평균\n(ppm)' : df_gg_south_mean}]
df_gg_south_b = pd.DataFrame(data)
df_gg_south_b

    시.도  시군구 측정소명 측정소\n코드 유효\n자료\n획득률\n(%) 유효\n측정\n일수\n(day)  \
125  경기  수원시  인계동  131112            99.05                31
126  경기  수원시  신풍동  131111            99.46                31
127  경기  수원시  광교동  131113            90.45                28
128  경기  수원시  영통동  131114            99.05                31
129  경기  수원시  천천동  131115            97.98                30
..   ..  ...  ...     ...              ...               ...
197  경기  화성시   향남  131552            99.59                31
198  경기  화성시  동탄동  131553            99.73                31
199  경기  화성시  우정읍  131554            99.59                31
200  경기  화성시  청계동  131555            99.46                31
201  경기  화성시  새솔동  131556            99.19                31

    유효\n측정\n횟수\n(8hour) 유효\n측정\n시간\n(hour) 월평균\n(ppm)
125                 738                737        0.6
126                 744                740        0.6
127                 672                673        0.5
128                 744                737        0.6
129                 729                729        0.4
..                  ...                ...        ...
197                 744                741        0.4
198                 744                742        0.5
199                 744                741        0.4
200                 744                740        0.4
201                 737                738        0.5

[63 rows x 9 columns]

    시.도  월평균\n(ppm)
0  경기남부     0.43810

In [15]:
df_gg_north = df_gg[(df_gg['시군구'] == '의정부시') | (df_gg['시군구'] == '고양시') | (df_gg['시군구'] == '양주시') | (df_gg['시군구'] == '동두천시') |
                   (df_gg['시군구'] == '파주시') | (df_gg['시군구'] == '포천시') | (df_gg['시군구'] == '연천군')]
print(df_gg_north)

df_gg_north_a = df_gg_north['월평균\n(ppm)'].astype(float)
df_gg_north_a
df_gg_north_mean = df_gg_north_a.mean()
df_gg_north_mean
data = [{'시.도' :'경기북부', '월평균\n(ppm)' : df_gg_north_mean}]
df_gg_north_b = pd.DataFrame(data)
df_gg_north_b

    시.도   시군구   측정소명 측정소\n코드 유효\n자료\n획득률\n(%) 유효\n측정\n일수\n(day)  \
142  경기  의정부시   의정부동  131131            99.59                31
143  경기  의정부시  의정부1동  131132            99.59                31
163  경기   고양시    행신동  131381            99.46                31
164  경기   고양시    식사동  131382            99.73                31
165  경기   고양시    신원동  131384            99.19                31
166  경기   고양시    주엽동  131385            99.59                31
202  경기   양주시    백석읍  131561            99.46                31
203  경기   양주시     고읍  131562            99.46                31
204  경기  동두천시    보산동  131571            99.73                31
211  경기   파주시    금촌동  131371            98.92                31
212  경기   파주시     운정  131372            95.29                29
213  경기   파주시    파주읍  131374            94.48                28
214  경기   포천시    선단동  131453            99.05                31
215  경기   포천시    일동면  131454            99.32                31
218  경기   연천군     연천  131601            99.46                31

    유효\n측정\n횟수\n(8hour) 유효\n측정\n시간\n(hour) 월평균\n(ppm)
142                 744                741        0.5
143                 744                741        0.5
163                 744                740        0.5
164                 744                742        0.3
165                 737                738        0.3
166                 744                741        0.4
202                 744                740        0.4
203                 744                740        0.3
204                 744                742        0.3
211                 744                736        0.5
212                 711                709        0.3
213                 703                703        0.4
214                 744                737        0.4
215                 744                739        0.3
218                 744                740        0.4

    시.도  월평균\n(ppm)
0  경기북부     0.38667

In [16]:
df_gg_east = df_gg[(df_gg['시군구'] == '구리시') | (df_gg['시군구'] == '광주시') | (df_gg['시군구'] == '남양주시') | (df_gg['시군구'] == '안성시') |
                   (df_gg['시군구'] == '이천시') | (df_gg['시군구'] == '여주시') | (df_gg['시군구'] == '가평군') | (df_gg['시군구'] == '양평군')]
print(df_gg_east)
df_gg_east_a = df_gg_east['월평균\n(ppm)'].astype(float)
df_gg_east_a
df_gg_east_mean = df_gg_east_a.mean()
df_gg_east_mean
data = [{'시.도' :'경기동부', '월평균\n(ppm)' : df_gg_east_mean}]
df_gg_east_b = pd.DataFrame(data)
df_gg_east_b

    시.도   시군구  측정소명 측정소\n코드 유효\n자료\n획득률\n(%) 유효\n측정\n일수\n(day)  \
159  경기   구리시   교문동  131211            98.11                30
160  경기   구리시   동구동  131212            99.32                31
167  경기   광주시   경안동  131392            99.46                31
168  경기   광주시   오포읍  131394            99.19                31
180  경기  남양주시   금곡동  131241            99.46                31
181  경기  남양주시   오남읍  131242            99.46                31
182  경기  남양주시   별내동  131243            99.46                31
183  경기  남양주시   화도읍  131244            99.05                31
205  경기   안성시   봉산동  131581            99.05                31
206  경기   안성시   공도읍  131583            99.59                31
207  경기   안성시   죽산면  131584            99.19                31
208  경기   이천시   창전동  131442           100.00                31
209  경기   이천시  장호원읍  131443            99.59                31
210  경기   이천시   부발읍  131444            99.59                31
216  경기   여주시   중앙동  131591            96.10                29
217  경기   여주시   대신면  131592            99.46                31
219  경기   가평군   가평읍  131611            98.79                31
220  경기   가평군   설악면  131612            80.77                23
221  경기   양평군   용문면  131621            96.50                29
222  경기   양평군   양평읍  131622            99.05                31

    유효\n측정\n횟수\n(8hour) 유효\n측정\n시간\n(hour) 월평균\n(ppm)
159                 727                730        0.4
160                 744                739        0.4
167                 744                740        0.4
168                 744                738        0.3
180                 744                740        0.3
181                 744                740        0.3
182                 744                740        0.4
183                 744                737        0.3
205                 744                737        0.5
206                 744                741        0.3
207                 744                738        0.2
208                 744                744        0.4
209                 744                741        0.3
210                 744                741        0.4
216                 715                715        0.4
217                 744                740        0.4
219                 736                735        0.4
220                 589                601        0.3
221                 706                718        0.4
222                 739                737        0.3

    시.도  월평균\n(ppm)
0  경기동부     0.35500

In [17]:
df_incheon_a = df_incheon['월평균\n(ppm)'].astype(float)
df_incheon_a
df_incheon_mean = df_incheon_a.mean()
df_incheon_mean
data = [{'시.도' :'인천', '월평균\n(ppm)' : df_incheon_mean}]
df_incheon_b = pd.DataFrame(data)
df_incheon_b

  시.도  월평균\n(ppm)
0  인천     0.46000

In [18]:
df_daegu_a = df_daegu['월평균\n(ppm)'].astype(float)
df_daegu_a
df_daegu_mean = df_daegu_a.mean()
df_daegu_mean
data = [{'시.도' :'대구', '월평균\n(ppm)' : df_daegu_mean}]
df_daegu_b = pd.DataFrame(data)
df_daegu_b

  시.도  월평균\n(ppm)
0  대구     0.36000

In [23]:
df_seoul
df_crop = pd.concat([df_seoul, df_gg_south_b, df_gg_north_b, df_gg_east_b, df_incheon_b, df_daegu_b], ignore_index = True)
df_crop_2 = df_crop.iloc[:, [0,1,-1]]
df_crop_2

     시.도   시군구 월평균\n(ppm)
0     서울    중구        0.4
1     서울   종로구        0.4
2     서울   중랑구        0.4
3     서울  동대문구        0.4
4     서울   은평구        0.3
5     서울   마포구        0.4
6     서울  영등포구        0.4
7     서울   동작구        0.4
8     서울   관악구        0.5
9     서울   강남구        0.4
10    서울   금천구        0.4
11    서울   강동구        0.4
12    서울   강북구        0.4
13    서울   성북구        0.5
14    서울   용산구        0.4
15    서울   광진구        0.5
16    서울   성동구        0.4
17    서울   도봉구        0.3
18    서울  서대문구        0.5
19    서울   구로구        0.2
20    서울   서초구        0.3
21    서울   강서구        0.4
22    서울   송파구        0.4
23    서울   양천구        0.4
24    서울   노원구        0.4
25  경기남부   NaN    0.43810
26  경기북부   NaN    0.38667
27  경기동부   NaN    0.35500
28    인천   NaN    0.46000
29    대구   NaN    0.36000

In [24]:
df_crop_2.to_csv("20년도_5월_CO오염도_최종.csv")