In [1]:
import pandas as pd

pd.options.display.float_format = '{:.5f}'.format #e 나오는거 싫어서 바꿈

df = pd.read_excel('../2020/20년도_11월_CO오염도.xlsx')
df = df.drop([0,2,3])
df = df.rename(columns=df.iloc[0])
df = df.iloc[:, 0:9]
df['월평균\n(ppm)'] = df['월평균\n(ppm)'].str.replace(pat=r'[*]', repl= r' ', regex=True)
df_seoul = df[df['시.도'] == '서울']
df_gg = df[df['시.도'] == '경기']
df_incheon = df[df['시.도'] == '인천']
df_daegu = df[df['시.도'] == '대구']

In [2]:
df_gg_south = df_gg[(df_gg['시군구'] == '수원') | (df_gg['시군구'] == '안양') | (df_gg['시군구'] == '성남') | (df_gg['시군구'] == '광명') |
                   (df_gg['시군구'] == '안산') | (df_gg['시군구'] == '평택') | (df_gg['시군구'] == '과천') | (df_gg['시군구'] == '의왕') |
                    (df_gg['시군구'] == '군포') | (df_gg['시군구'] == '시흥') | (df_gg['시군구'] == '부천') | (df_gg['시군구'] == '용인') | (df_gg['시군구'] == '김포') | 
                   (df_gg['시군구'] == '오산') | (df_gg['시군구'] == '하남') | (df_gg['시군구'] == '화성')]

print(df_gg_south)
df_gg_south_a = df_gg_south['월평균\n(ppm)'].astype(float)
df_gg_south_a
df_gg_south_mean = df_gg_south_a.mean()
df_gg_south_mean
data = [{'시.도' :'경기남부', '월평균\n(ppm)' : df_gg_south_mean}]
df_gg_south_b = pd.DataFrame(data)
df_gg_south_b

    시.도 시군구 측정소명 측정소\n코드 유효\n자료\n획득률\n(%) 유효\n측정\n일수\n(day)  \
134  경기  수원  인계동  131112            99.16                30
135  경기  수원  신풍동  131111            98.19                29
136  경기  수원  광교동  131113            98.75                30
137  경기  수원  영통동  131114            99.44                30
138  경기  수원  천천동  131115            99.44                30
..   ..  ..  ...     ...              ...               ...
210  경기  화성  우정읍  131554            99.58                30
211  경기  화성  청계동  131555            99.72                30
212  경기  화성  새솔동  131556            91.25                25
213  경기  화성  봉담읍  131557            99.58                30
214  경기  화성  서신면  131558            99.44                30

    유효\n측정\n횟수\n(8hour) 유효\n측정\n시간\n(hour) 월평균\n(ppm)
134                 720                714        0.7
135                 708                707        0.6
136                 713                711        0.6
137                 720                716        0.7
138                 720                716        0.5
..                  ...                ...        ...
210                 720                717        0.5
211                 720                718        0.5
212                 646                657        0.6
213                 720                717        0.6
214                 720                716        0.5

[66 rows x 9 columns]

    시.도  월평균\n(ppm)
0  경기남부     0.54091

In [3]:
df_gg_north = df_gg[(df_gg['시군구'] == '의정부') | (df_gg['시군구'] == '고양') | (df_gg['시군구'] == '양주') | (df_gg['시군구'] == '동두천') |
                   (df_gg['시군구'] == '파주') | (df_gg['시군구'] == '포천') | (df_gg['시군구'] == '연천')]
print(df_gg_north)

df_gg_north_a = df_gg_north['월평균\n(ppm)'].astype(float)
df_gg_north_a
df_gg_north_mean = df_gg_north_a.mean()
df_gg_north_mean
data = [{'시.도' :'경기북부', '월평균\n(ppm)' : df_gg_north_mean}]
df_gg_north_b = pd.DataFrame(data)
df_gg_north_b

    시.도  시군구   측정소명 측정소\n코드 유효\n자료\n획득률\n(%) 유효\n측정\n일수\n(day)  \
151  경기  의정부   의정부동  131131            99.30                30
152  경기  의정부  의정부1동  131132            94.86                28
153  경기  의정부   송산3동  131133            99.02                30
173  경기   고양    행신동  131381            99.44                30
174  경기   고양    식사동  131382            99.02                30
175  경기   고양    신원동  131384            99.30                30
176  경기   고양    주엽동  131385            99.58                30
215  경기   양주    백석읍  131561            95.00                28
216  경기   양주     고읍  131562            95.13                28
217  경기  동두천    보산동  131571            99.44                30
224  경기   파주    금촌동  131371            98.88                30
225  경기   파주     운정  131372            99.02                30
226  경기   파주    파주읍  131374            95.83                28
227  경기   포천    선단동  131453            92.08                26
228  경기   포천    일동면  131454            99.02                30
231  경기   연천     연천  131601            99.58                30

    유효\n측정\n횟수\n(8hour) 유효\n측정\n시간\n(hour) 월평균\n(ppm)
151                 714                715        0.6
152                 676                683        0.6
153                 715                713        0.5
173                 720                716        0.6
174                 712                713        0.4
175                 720                715        0.5
176                 720                717        0.6
215                 685                684        0.5
216                 688                685        0.5
217                 720                716        0.5
224                 720                712        0.6
225                 720                713        0.6
226                 692                690        0.4
227                 662                663        0.6
228                 720                713        0.5
231                 720                717        0.5

    시.도  월평균\n(ppm)
0  경기북부     0.53125

In [4]:
df_gg_east = df_gg[(df_gg['시군구'] == '구리') | (df_gg['시군구'] == '광주') | (df_gg['시군구'] == '남양주') | (df_gg['시군구'] == '안성') |
                   (df_gg['시군구'] == '이천') | (df_gg['시군구'] == '여주') | (df_gg['시군구'] == '가평') | (df_gg['시군구'] == '양평')]
print(df_gg_east)
df_gg_east_a = df_gg_east['월평균\n(ppm)'].astype(float)
df_gg_east_a
df_gg_east_mean = df_gg_east_a.mean()
df_gg_east_mean
data = [{'시.도' :'경기동부', '월평균\n(ppm)' : df_gg_east_mean}]
df_gg_east_b = pd.DataFrame(data)
df_gg_east_b

    시.도  시군구  측정소명 측정소\n코드 유효\n자료\n획득률\n(%) 유효\n측정\n일수\n(day)  \
169  경기   구리   교문동  131211            95.00                28
170  경기   구리   동구동  131212            99.58                30
177  경기   광주   경안동  131392            96.11                28
178  경기   광주   오포읍  131394            92.77                26
190  경기  남양주   금곡동  131241            99.44                30
191  경기  남양주   오남읍  131242            99.02                30
192  경기  남양주   별내동  131243            99.02                30
193  경기  남양주   화도읍  131244            99.30                30
218  경기   안성   봉산동  131581            97.50                29
219  경기   안성   공도읍  131583            95.97                28
220  경기   안성   죽산면  131584            99.16                30
221  경기   이천   창전동  131442            96.52                28
222  경기   이천  장호원읍  131443            99.44                30
223  경기   이천   부발읍  131444            99.58                30
229  경기   여주   중앙동  131591            74.02                21
230  경기   여주   대신면  131592            99.44                30
232  경기   가평   가평읍  131611            99.30                30
233  경기   가평   설악면  131612            99.30                30
234  경기   양평   용문면  131621            99.44                30
235  경기   양평   양평읍  131622            99.02                30

    유효\n측정\n횟수\n(8hour) 유효\n측정\n시간\n(hour) 월평균\n(ppm)
169                 682                684        0.4
170                 720                717        0.5
177                 691                692        0.6
178                 663                668        0.7
190                 720                716        0.5
191                 720                713        0.4
192                 720                713        0.5
193                 720                715        0.5
218                 703                702        0.5
219                 690                691        0.6
220                 720                714        0.5
221                 692                695        0.5
222                 720                716        0.5
223                 720                717        0.5
229                 533                533       0.6
230                 720                716        0.5
232                 714                715        0.5
233                 720                715        0.4
234                 720                716        0.5
235                 720                713        0.5

    시.도  월평균\n(ppm)
0  경기동부     0.51000

In [5]:
df_incheon_a = df_incheon['월평균\n(ppm)'].astype(float)
df_incheon_a
df_incheon_mean = df_incheon_a.mean()
df_incheon_mean
data = [{'시.도' :'인천', '월평균\n(ppm)' : df_incheon_mean}]
df_incheon_b = pd.DataFrame(data)
df_incheon_b

  시.도  월평균\n(ppm)
0  인천     0.55417

In [6]:
df_daegu_a = df_daegu['월평균\n(ppm)'].astype(float)
df_daegu_a
df_daegu_mean = df_daegu_a.mean()
df_daegu_mean
data = [{'시.도' :'대구', '월평균\n(ppm)' : df_daegu_mean}]
df_daegu_b = pd.DataFrame(data)
df_daegu_b

  시.도  월평균\n(ppm)
0  대구     0.48000

In [7]:
df_seoul
df_crop = pd.concat([df_seoul, df_gg_south_b, df_gg_north_b, df_gg_east_b, df_incheon_b, df_daegu_b], ignore_index = True)
df_crop_2 = df_crop.iloc[:, [0,1,-1]]
df_crop_2

     시.도   시군구 월평균\n(ppm)
0     서울    중구        0.5
1     서울   종로구        0.6
2     서울   중랑구        0.5
3     서울  동대문구        0.6
4     서울   은평구        0.6
5     서울   마포구        0.6
6     서울  영등포구        0.6
7     서울   동작구        0.5
8     서울   관악구        0.6
9     서울   강남구        0.6
10    서울   금천구        0.6
11    서울   강동구        0.5
12    서울   강북구        0.5
13    서울   성북구        0.7
14    서울   용산구        0.5
15    서울   광진구        0.6
16    서울   성동구        0.5
17    서울   도봉구        0.4
18    서울  서대문구        0.8
19    서울   구로구        0.4
20    서울   서초구        0.5
21    서울   강서구        0.6
22    서울   송파구        0.6
23    서울   양천구        0.6
24    서울   노원구        0.6
25  경기남부   NaN    0.54091
26  경기북부   NaN    0.53125
27  경기동부   NaN    0.51000
28    인천   NaN    0.55417
29    대구   NaN    0.48000

In [8]:
df_crop_2.to_csv("20년도_11월_CO오염도_최종.csv")