In [1]:
import pandas as pd

pd.options.display.float_format = '{:.5f}'.format #e 나오는거 싫어서 바꿈

df = pd.read_excel('../2020/20년도_12월_CO오염도.xlsx')
df = df.drop([0,2,3])
df = df.rename(columns=df.iloc[0])
df = df.iloc[:, 0:9]
df['월평균\n(ppm)'] = df['월평균\n(ppm)'].str.replace(pat=r'[*]', repl= r' ', regex=True)
df_seoul = df[df['시.도'] == '서울']
df_gg = df[df['시.도'] == '경기']
df_incheon = df[df['시.도'] == '인천']
df_daegu = df[df['시.도'] == '대구']

In [2]:
df_gg_south = df_gg[(df_gg['시군구'] == '수원') | (df_gg['시군구'] == '안양') | (df_gg['시군구'] == '성남') | (df_gg['시군구'] == '광명') |
                   (df_gg['시군구'] == '안산') | (df_gg['시군구'] == '평택') | (df_gg['시군구'] == '과천') | (df_gg['시군구'] == '의왕') |
                    (df_gg['시군구'] == '군포') | (df_gg['시군구'] == '시흥') | (df_gg['시군구'] == '부천') | (df_gg['시군구'] == '용인') | (df_gg['시군구'] == '김포') | 
                   (df_gg['시군구'] == '오산') | (df_gg['시군구'] == '하남') | (df_gg['시군구'] == '화성')]

print(df_gg_south)
df_gg_south_a = df_gg_south['월평균\n(ppm)'].astype(float)
df_gg_south_a
df_gg_south_mean = df_gg_south_a.mean()
df_gg_south_mean
data = [{'시.도' :'경기남부', '월평균\n(ppm)' : df_gg_south_mean}]
df_gg_south_b = pd.DataFrame(data)
df_gg_south_b

    시.도 시군구 측정소명 측정소\n코드 유효\n자료\n획득률\n(%) 유효\n측정\n일수\n(day)  \
136  경기  수원  인계동  131112            99.32                31
137  경기  수원  신풍동  131111            99.46                31
138  경기  수원  광교동  131113            98.65                31
139  경기  수원  영통동  131114            99.32                31
140  경기  수원  천천동  131115            99.46                31
..   ..  ..  ...     ...              ...               ...
213  경기  화성  우정읍  131554            99.46                31
214  경기  화성  청계동  131555            99.73                31
215  경기  화성  새솔동  131556            99.86                31
216  경기  화성  봉담읍  131557            99.19                31
217  경기  화성  서신면  131558            99.05                31

    유효\n측정\n횟수\n(8hour) 유효\n측정\n시간\n(hour) 월평균\n(ppm)
136                 744                739        0.7
137                 744                740        0.5
138                 738                734        0.6
139                 738                739        0.7
140                 744                740        0.6
..                  ...                ...        ...
213                 744                740        0.5
214                 744                742        0.5
215                 744                743        0.5
216                 744                738        0.6
217                 744                737        0.5

[66 rows x 9 columns]

    시.도  월평균\n(ppm)
0  경기남부     0.57385

In [3]:
df_gg_north = df_gg[(df_gg['시군구'] == '의정부') | (df_gg['시군구'] == '고양') | (df_gg['시군구'] == '양주') | (df_gg['시군구'] == '동두천') |
                   (df_gg['시군구'] == '파주') | (df_gg['시군구'] == '포천') | (df_gg['시군구'] == '연천')]
print(df_gg_north)

df_gg_north_a = df_gg_north['월평균\n(ppm)'].astype(float)
df_gg_north_a
df_gg_north_mean = df_gg_north_a.mean()
df_gg_north_mean
data = [{'시.도' :'경기북부', '월평균\n(ppm)' : df_gg_north_mean}]
df_gg_north_b = pd.DataFrame(data)
df_gg_north_b

    시.도  시군구   측정소명 측정소\n코드 유효\n자료\n획득률\n(%) 유효\n측정\n일수\n(day)  \
153  경기  의정부   의정부동  131131            95.56                29
154  경기  의정부  의정부1동  131132            99.46                31
155  경기  의정부   송산3동  131133            99.59                31
175  경기   고양    행신동  131381            99.05                31
176  경기   고양    식사동  131382            99.32                31
177  경기   고양    신원동  131384            99.32                31
178  경기   고양    주엽동  131385            99.59                31
218  경기   양주    백석읍  131561            99.19                31
219  경기   양주     고읍  131562            99.46                31
220  경기  동두천    보산동  131571            99.32                31
227  경기   파주    금촌동  131371            99.19                31
228  경기   파주     운정  131372            99.19                31
229  경기   파주    파주읍  131374            99.05                31
230  경기   포천    선단동  131453            98.79                31
231  경기   포천    일동면  131454            98.65                31
235  경기   연천     연천  131601            99.32                31

    유효\n측정\n횟수\n(8hour) 유효\n측정\n시간\n(hour) 월평균\n(ppm)
153                 709                711        0.6
154                 744                740        0.7
155                 744                741        0.6
175                 737                737        0.6
176                 744                739        0.5
177                 744                739        0.5
178                 744                741        0.7
218                 737                738        0.6
219                 744                740        0.6
220                 744                739        0.6
227                 744                738        0.7
228                 744                738        0.6
229                 744                737        0.6
230                 738                735        0.7
231                 744                734        0.5
235                 744                739        0.6

    시.도  월평균\n(ppm)
0  경기북부     0.60625

In [4]:
df_gg_east = df_gg[(df_gg['시군구'] == '구리') | (df_gg['시군구'] == '광주') | (df_gg['시군구'] == '남양주') | (df_gg['시군구'] == '안성') |
                   (df_gg['시군구'] == '이천') | (df_gg['시군구'] == '여주') | (df_gg['시군구'] == '가평') | (df_gg['시군구'] == '양평')]
print(df_gg_east)
df_gg_east_a = df_gg_east['월평균\n(ppm)'].astype(float)
df_gg_east_a
df_gg_east_mean = df_gg_east_a.mean()
df_gg_east_mean
data = [{'시.도' :'경기동부', '월평균\n(ppm)' : df_gg_east_mean}]
df_gg_east_b = pd.DataFrame(data)
df_gg_east_b

    시.도  시군구  측정소명 측정소\n코드 유효\n자료\n획득률\n(%) 유효\n측정\n일수\n(day)  \
171  경기   구리   교문동  131211            99.59                31
172  경기   구리   동구동  131212            99.32                31
179  경기   광주   경안동  131392            99.19                31
180  경기   광주   오포읍  131394            99.32                31
181  경기   광주   곤지암  131395            90.86                27
193  경기  남양주   금곡동  131241            99.59                31
194  경기  남양주   오남읍  131242            99.05                31
195  경기  남양주   별내동  131243            99.19                31
196  경기  남양주   화도읍  131244            99.05                31
221  경기   안성   봉산동  131581            99.59                31
222  경기   안성   공도읍  131583            99.32                31
223  경기   안성   죽산면  131584            99.32                31
224  경기   이천   창전동  131442            99.86                31
225  경기   이천  장호원읍  131443            98.92                31
226  경기   이천   부발읍  131444            99.46                31
232  경기   여주   중앙동  131591            99.59                31
233  경기   여주   대신면  131592            99.59                31
234  경기   여주   가남읍  131593            99.19                31
236  경기   가평   가평읍  131611            99.32                31
237  경기   가평   설악면  131612            99.32                31
238  경기   양평   용문면  131621            99.46                31
239  경기   양평   양평읍  131622            93.01                28

    유효\n측정\n횟수\n(8hour) 유효\n측정\n시간\n(hour) 월평균\n(ppm)
171                 744                741        0.4
172                 738                739        0.5
179                 744                738        0.6
180                 744                739        0.7
181                 669                676        0.6
193                 744                741        0.6
194                 744                737        0.5
195                 744                738        0.5
196                 738                737        0.6
221                 744                741        0.5
222                 744                739        0.5
223                 744                739        0.6
224                 744                743        0.5
225                 738                736        0.5
226                 744                740        0.6
232                 744                741        0.6
233                 744                741        0.5
234                 739                738        0.6
236                 744                739        0.5
237                 744                739        0.5
238                 744                740        0.6
239                 694                692        0.7

    시.도  월평균\n(ppm)
0  경기동부     0.55455

In [5]:
df_incheon_a = df_incheon['월평균\n(ppm)'].astype(float)
df_incheon_a
df_incheon_mean = df_incheon_a.mean()
df_incheon_mean
data = [{'시.도' :'인천', '월평균\n(ppm)' : df_incheon_mean}]
df_incheon_b = pd.DataFrame(data)
df_incheon_b

  시.도  월평균\n(ppm)
0  인천     0.60417

In [6]:
df_daegu_a = df_daegu['월평균\n(ppm)'].astype(float)
df_daegu_a
df_daegu_mean = df_daegu_a.mean()
df_daegu_mean
data = [{'시.도' :'대구', '월평균\n(ppm)' : df_daegu_mean}]
df_daegu_b = pd.DataFrame(data)
df_daegu_b

  시.도  월평균\n(ppm)
0  대구     0.52667

In [7]:
df_seoul
df_crop = pd.concat([df_seoul, df_gg_south_b, df_gg_north_b, df_gg_east_b, df_incheon_b, df_daegu_b], ignore_index = True)
df_crop_2 = df_crop.iloc[:, [0,1,-1]]
df_crop_2

     시.도   시군구 월평균\n(ppm)
0     서울    중구        0.6
1     서울   종로구        0.7
2     서울   중랑구        0.6
3     서울  동대문구        0.6
4     서울   은평구        0.6
5     서울   마포구        0.6
6     서울  영등포구        0.7
7     서울   동작구        0.5
8     서울   관악구        0.6
9     서울   강남구        0.6
10    서울   금천구        0.6
11    서울   강동구        0.6
12    서울   강북구        0.6
13    서울   성북구        0.7
14    서울   용산구        0.5
15    서울   광진구        0.6
16    서울   성동구        0.6
17    서울   도봉구        0.5
18    서울  서대문구        0.7
19    서울   구로구        0.5
20    서울   서초구        0.5
21    서울   강서구        0.4
22    서울   송파구        0.6
23    서울   양천구        0.6
24    서울   노원구        0.6
25  경기남부   NaN    0.57385
26  경기북부   NaN    0.60625
27  경기동부   NaN    0.55455
28    인천   NaN    0.60417
29    대구   NaN    0.52667

In [8]:
df_crop_2.to_csv("20년도_12월_CO오염도_최종.csv")